html,body{
    margin: 0;
    padding: 0;
}
clear-float::after,clear-float:after{
    content:"";
    display: block;
    clear: both;
}
.ad{
    width: 400px;
    height: 400px;
    position: relative;
    

}
.ad>.son{  
    float: left;
}
.tap{
    width: 200px;
    height: 100px;
   
}
.son1>.tap{
    background: green;
}
.son2>.tap{
    background: red;
}
.content{
    width: 400px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 100px;
    background: orange;
    
   
}
.son1>.tap:hover+.content{
    background: green;
    z-index: 100;
 
}
.son2>.tap:hover+.content{
    background: red;
    z-index: 100;
   
}

