
html,body{
    margin: 0;
    padding: 0;
    
}

.clear-float::after,.clear-float::after{
    content:"";
    display: block;
    clear: both;
}
clear-top::before,clear-top:before{
    content: "";
    display: block;
    overflow: hidden;
}

.top{
    height: 200px;
    position: relative;
}
.zuologo{
    background: url("./xiechenglogo.png");
    width: 188px;
    height: 63px;
    position: absolute;
    left: 100px;
    top: 0;
}
input{
    width: 380px;
    height: 30px;
    position: absolute;
    left: 288px;
    top: 27px;
}
.youlogo{
    background: url(./searchlogo.png);
    width: 42px;
    height: 34px;
    position: absolute;
    left: 631px;
    top: 17px;
    z-index: 2;

}
.middle{
    width: 1200px;
    height: 42px;
    position: absolute;
    float: left;
    top: 70px;
    background: blue;
}

.box_>.tap{
     width: 90px;
    height: 42px;
    background: blue;
    float: left;
    
}
.box_.box1>.tap{
     background: darkblue;
}
.box_>.tap:hover{
    background: darkblue;  
}


.box_{    
    float: left;
}
.box_>.tap>span{
    font:  italic normal 16px/32px  "Arial";      
    display: block;
    line-height: 42px;
    text-align: center;
    color: white;
}
.angle_{
    border-width: 5px 5px 5px 5px;
    border-color: white blue blue blue;
    position: relative;
    border-style: solid;
    width: 0px;
    height: 0px;
       left: 68px;
    top: 20px;

}
.angle_.angle1{
    border-width: 5px 5px 5px 5px;
    border-color: darkblue darkblue darkblue darkblue;
    position: relative;
    border-style: solid;
    width: 0px;
    height: 0px;
    left: 55px;
    top: 30px;
}
.box_>.content>.jiao1{
    border-width: 10px 10px 10px 10px;
    border-color: darkblue darkblue white darkblue;
    position: relative;
    border-style: solid;
    width: 0px;
    height: 0px;
        left: -25px;
    top: -21px;

}

.box_>.content>.jiao2{
    border-width: 10px 10px 10px 10px;
    border-color: darkblue darkblue white darkblue;
    position: relative;
    border-style: solid;
    width: 0px;
    height: 0px;
        left: 70px;
    top: -21px;

}
.box_>.content{
    width: 1220px;
    height: 65px;   
    position: absolute;
    top: 43px;
    left: 120px;
    
    display: block;   
}
.box_>.content>div{
   width: 1200px;
    position: absolute;
        left: 0;
    top: 2px;
    display: none;
    background: white;
    border: 1px solid blue;
    border-top-color: white;
   
}


.box1>.content{
    background:url("./wifilogo.png") no-repeat ;   
    
}


.box_ .tap:hover+.content>div{
    display: block;
  z-index: 5;
}

/*上面排版*/




.table{
    width: 1200px;
    position: relative;
    top:-48px;
    
}
.sum_ .tab{
    width: 90px;
    height: 42px;
    background-color: #2577e3;      
    border-left: 3px solid  #2577e3;
    text-align: center;  
    z-index: 2;
}
.sum7>.tab{
    border-bottom: 0;
}
.table>div:hover .content{
    z-index: 100;
    display: block;
}
.sum_ .tab:hover{
    background: white;
    border-left-color: #ff9915;
}

.table>.sum_>.content{
    position: absolute;
    left: 90px;
    top: 42px;
    z-index: 2;
    width: 491px;
    height: 258px;
    display: none;
   
    
}
.table>.win_>.content{
    position: absolute;
    left: 90px;
    top: 42px;
    z-index: 2;
    width: 491px;
    height: 258px;
    display: none;
    
    
}
.sum_ span{
    display: inline-block;
    line-height: 42px;
    text-align: center;
    color: blue;
    border-bottom: 1px dashed white; 
    width: 66px;
    height: 42px;
    left: 0;
    right: 0;
    margin: 0 auto; 
}
.table>.sum1>.tab{
    background: white;
}
.table .win_>.tab{   
    float: left;
   position: relative;
  background: white;
    top: -293px;
    left: 90px;
    z-index: 2;

   
}
.win_ span{
    display: inline-block;
    line-height: 42px;
    text-align: center;
    color: black;
    width: 100px;
    height: 42px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 14px;
}
.win_ .tab:hover>span{
    color: #2577e3;
}
.beijing{
  background-image: url(./shuaige.png);
    width: 1161px;
    height: 676px;
    position: absolute;
    left:  93px;
    top: 10px;
   
}
.win_.win1>.content>input{
    position: relative;
    left: 90px;
    top: -50px;
}
.win1>.content>.c1{
    position: relative;
    left: 10px;
    top: 40px;
}
.win1>.content>.c2{
    position: relative;
    left: 10px;
    top: 60px;
}
.win1>.content>.c3{
    position: relative;
    left:10px;
    top: 80px;
}
.win1>.content>.c4{
    position: relative;
    left: 10px;
    top: 100px;
}
/*下面排版*/