/*.box{
    border:2px solid#2345ff; 
     color: #ff2871;
     
}
 .name{
    border:2px solid#ff2231 ;
    color: #232321;
     
}
.wd{
    border:2px solid#ff2231 ;  
     color: #7f2321;
     
}
.md {
    border:2px solid#ff2231 ; 
     color: #222321;
     
}*/




方法1*/
.father {
      
      width: 200px;
      height: 200px;
      
      background: #005621
      
}*/
/*.father .son{
    border-width:100px;
    height: 0px;
    border-style: solid;
    border-color: #005621#fff #fff #f21;*/
/*}

/*方法二*/
/*.father {
      
      width: 200px;
      height: 200px;
      
      background: #005621
      
}*/
/*.father .son{
    border-width:0 100px 200px 100px;
    height: 0px;
    border-style: solid;
    border-color: #46f#fff #fff #f21;
   
    
}

